<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour <%= @user.first_name %> <%= @user.last_name %></h1> <br />
    <h2> bienvenue chez nous !</h2>
    <p>
     Tu viens de créer ton profil sur fev-eventbrite.com en utilisant l'e-mail suivant : <%= @user.email %>.
    </p>
    <p>
      tu peux maintenant créer un événement ou participer à l'un d'eux!!
    </p>
    <p> bisous <br />
     l'equie de fev-eventbrite.com !
     </p>
  </body>